
<h3><%= @bookmark.url %></h3>
<p><%= render partial: 'likes/like', locals: { bookmark: @bookmark } %></p>


<%= link_to 'Edit', edit_topic_bookmark_path(@topic,@bookmark) %> |
<%= link_to 'Delete', [@topic, @bookmark], method: :delete %> |
<%= link_to 'Back', @topic %>
