<p id="notice"><%= notice %></p>

<p><strong>#<%= @topic.title %></strong></p>

<p>
  <% @bookmarks.each do |bookmark| %>
    <p><%= bookmark.url %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
