<% if current_user.username == nil %>
  <h1><%=current_user.email %>'s Topics and Bookmarks</h1>
<% else %>
  <h1><%= current_user.username %>'s Topics and Bookmarks</h1>
<% end %>

<p>Created topics:</p>
<%= render current_user.topics %>

<p>Created bookmarks:</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>URL</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render current_user.bookmarks %>
  </tbody>
</table>

<%= render "topics/form" %>
